# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android build outputs & keys
android/.gradle
android/build
android/app/build
android/.idea
*.iml
*.jks
*.keystore

# iOS build outputs & secrets (Apple Keys)
ios/App/build
ios/App/DerivedData
ios/App/Pods
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
*.p8
AuthKey_*
*.p12
*.cer
*.mobileprovision
*.key
*.pem
distribution.*
*.jks
p12_base64.txt
profile_base64.txt
authkey_base64.txt
keystore_base64.txt


